<div class="row">      
  <div class="col-md-12">
    <div class="form-inline well">
      <div class="form-group" style="width:50%">
        <label for="exampleInputName2" class="sr-only">Informe o nome do paciente</label>
        <input type="text" class="form-control" style="width:100%" id="exampleInputName2" placeholder="nome do paciente" />
      </div>
      <button type="submit" class="btn btn-primary">pesquisar</button>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        novo paciente
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="paciente in pacientes">
          <th scope="row">{{paciente.codigo}}</th>
          <td>{{paciente.nome}}</td>
          <td>{{paciente.email}}</td>
          <td><a ng-href="#pacientes/{{paciente.codigo}}/prontuario">prontuario</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>