	 <div data-sp-flash></div>
     <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Identificação</div>
            <div class="panel-body">
              <dl>
                <dt>Nome</dt>
                <dd>{{paciente.nome}}</dd>
                <dt>Sexo</dt>
                <dd>{{paciente.sexo}}</dd>
                <dt>Data de Nascimento</dt>
                <dd>{{paciente.dtNascimento}}</dd>
                <dt>Estado Civil</dt>
                <dd>{{paciente.estadoCivil}}</dd>
                <dt>Profissão</dt>
                <dd>{{paciente.profissao}}</dd>
                <dt>Naturalidade</dt>
                <dd>{{paciente.naturalidade}}</dd>
                <dt>Endereço</dt>
                <dd>{{paciente.endereco}}</dd>
                <dt>Telefones</dt>
                <dd>{{paciente.telefones}}</dd>
                <dt>E-mail</dt>
                <dd>{{paciente.email}}</dd>
              </dl>
            </div>
          </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
	 			Data de Admissão
            </div>
            <div class="panel-body">
            	<p>{{paciente.prontuario.dataAdmissao}}</p>
            </div>
          </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
				História Clínica
            </div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <label for="nv-qp">Queixa Principal</label>
                    <input type="text" class="form-control" id="nv-qp" ng-model="paciente.prontuario.historiaClinica.queixaPrincipal"/>
                  </div>
                  <div class="form-group">
                    <label for="nv-hda">História da Doença Atual</label>
                    <textarea id="nv-hda" class="form-control" rows="3" ng-model="paciente.prontuario.historiaClinica.historiaDoencaAtual"></textarea>
                  </div>
                  <p>Antecedentes</p>
                  <p>HPPP - História Pessoal Patológica Pregressa</p>
                  <div class="form-group">
                    <label for="nv-doencasAnteriores">Doenças Anteriores ou Preexistentes</label>
                    <textarea id="nv-doencasAnteriores" class="form-control" rows="1" ng-model="paciente.prontuario.historiaClinica.doencasAnteriores"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="nv-tratamentos">Tratamentos, Internações e Transfusões</label>
                    <textarea id="nv-tratamentos" class="form-control" rows="1" ng-model="paciente.prontuario.historiaClinica.tratamentos"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="nv-alergias">Alergias a Alimentos ou Medicamentos</label>
                    <textarea id="nv-alergias" class="form-control" rows="1" ng-model="paciente.prontuario.historiaClinica.alergias"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="nv-vacinacao">Vacinação</label>
                    <textarea id="nv-vacinacao" class="form-control" rows="1" ng-model="paciente.prontuario.historiaClinica.vacinacao"></textarea>
                  </div>
                  <p>Outros</p>
                  <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1" ng-model="paciente.prontuario.historiaClinica.outros"></textarea>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Exame Físico</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1" ng-model="paciente.prontuario.exameFisico"></textarea>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Diagnóstico</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1" ng-model="paciente.prontuario.diagnostico"></textarea>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Conduta</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1" ng-model="paciente.prontuario.conduta"></textarea>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Evolução</div>
              <div class="panel-body">
                <div class="panel panel-primary" ng-repeat="evolucao in paciente.prontuario.evolucao">
                  <div class="panel-heading">{{evolucao.data}}
                  </div>
                  <form>
                    <div class="form-group">
                      <textarea id="nv-hppp" class="form-control" readonly rows="2">{{evolucao.texto}}</textarea>
                    </div>
                  </form>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">Nova Evolução
                  </div>
                  <form>
                    <div class="form-group">
                      <label for="nv-evo-texto">Data</label>
                      <input type="text" id="nv-evo-data" ng-model="evoData" class="form-control"/>
                    </div>
                    <div class="form-group">
                      <label for="nv-evo-texto">Texto</label>
                      <textarea id="nv-evo-texto" class="form-control" ng-model="evoTexto" rows="2"></textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<style type="text/css">
textarea {
   resize: none;
   word-wrap: break-word;
   transition: 0.05s;
   -moz-transition: 0.05s;
   -webkit-transition: 0.05s;
   -o-transition: 0.05s;
 }

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


.thumb {
margin: -0.5em 1em 1.5em 0;
padding-bottom: 1em;
height: 100px;
width: 100px;
}

</style>

     <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
	 			Imagens
            </div>
            <div class="panel-body">
    	    	<!--input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/-->
              <button type="file" ngf-select="uploadFiles($file)"
                      accept="*" >
                  Selecione o arquivo</button>

              File:
              <span style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                  <span ng-show="f.progress >= 0"> {{f.progress}}%</span>
              </span>
              {{errorMsg}}
            </div>
            <div>
              <img ng-repeat="imagem in imagens" class="thumb" ng-src="imagens/{{imagem.filename}}" />
            </div>
          </div>
        </div>
     </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" ng-click="teste()">Confirmar</button>
      <a type="button" href="#/pacientes" class="btn btn-danger" >Voltar</a>
    </div>
  </div>





  <script type="text/javascript">

    $(document).ready(function(){
     $("#nv-evo-data").inputmask("date");
    });
  </script>
