      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Identificação</div>
            <div class="panel-body">
              dados do cadastro basico</br>nome, dn-idade, etc
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">História Clínica</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <label for="nv-qp">Queixa Principal</label>
                    <input type="text" class="form-control" id="nv-qp"/>
                  </div>
                  <div class="form-group">
                    <label for="nv-hda">História da Doença Atual</label>
                    <textarea id="nv-hda" class="form-control" rows="3"></textarea>
                  </div>
                  <p>Antecedentes</p>
                  <p>HPPP - História Pessoal Patológica Pregressa</p>
                  <div class="form-group">
                    <label for="nv-doencasAnteriores">Doenças Anteriores ou Preexistentes</label>
                    <textarea id="nv-doencasAnteriores" class="form-control" rows="1"></textarea>
                  </div>        
                  <div class="form-group">
                    <label for="nv-tratamentos">Tratamentos, Internações e Transfusões</label>
                    <textarea id="nv-tratamentos" class="form-control" rows="1"></textarea>
                  </div>        
                  <div class="form-group">
                    <label for="nv-alergias">Alergias a Alimentos ou Medicamentos</label>
                    <textarea id="nv-alergias" class="form-control" rows="1"></textarea>
                  </div>        
                  <div class="form-group">
                    <label for="nv-vacinacao">Vacinação</label>
                    <textarea id="nv-vacinacao" class="form-control" rows="1"></textarea>
                  </div>        
                  <p>Outros</p>
                  <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1"></textarea>
                  </div>        
              </form>                  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Exame Físico</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1"></textarea>
                  </div>
              </form>                  
            </div>
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Diagnóstico</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1"></textarea>
                  </div>
              </form>                  
            </div>
          </div>
        </div>
      </div>            
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Conduta</div>
            <div class="panel-body">
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1"></textarea>
                  </div>
              </form>                  
            </div>
          </div>
        </div>
      </div>            
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Evolução</div>
            <div class="panel-body">
            <div class="panel panel-primary">
              <div class="panel-heading">01/01/2015</div>
              <form>
                 <div class="form-group">
                    <textarea id="nv-hppp" class="form-control" rows="1"></textarea>
                  </div>
              </form>                  
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>                  
    